{% if enabled %}
    <div id='feedback_simple'>
        <a href='{{ link }}' target='{{ target }}' class='feedback_simple-{{ align }} {{ class }}' style="top: {{ top }}; height: {{ height }}; weight: {{ weight }};">
            <img alt='{{ alt }}' src='{{ image }}' height='{{ height }}' width='{{ width }}' />
        </a>
    </div>
{% endif %}
